*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
header a, nav a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
nav a{
    font-size: x-large;
}
.header, nav{
    padding: 5px 10vw;
    display: flex;
    justify-content: space-between;
}
.header{
    background-color: rgb(17, 24, 39);
}
nav, nav a{
    position: sticky; top: 0; z-index: 9;
}

nav{
    background-color: rgb(31, 41, 55);
}

main{
    padding: 0vh 10vw;
    background-color: rgb(226, 226, 226);;
    min-height: 88vh;
}
a{
    padding: 2.5px;
    transition: 0.1s;
    border-radius: 5px;
}
a:hover{
    background-color: lightcoral;
}

.mainwidth{
    padding: 2vw;
    background-color: #dbdbdb;
}

.CreatorWidget{
    border-radius: 5px;
    padding: 1vw;
    background-color: rgba(204, 204, 204, 0.2);
    margin: 1vh 0vw;
}

.comment{
    border-bottom: solid 1px black;
    padding: 5px 0px;
}